@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
h2{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #164C45;
    width: 600px;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #164C45;
    width: 600px;
    padding: 20px;
    margin: auto;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: 'Parisienne', cursive;
    color: #5244c9;
    text-shadow: 2px #4d41b8;
    font-size: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

body{
    background-image: linear-gradient(to right, #BC5BF0, #7E48D9  )
    }

img{
    width: 400px;
    border-radius: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
    color: rgb(185, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    display: block;
}
